/* ===CARD STYLING=== */

.card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

    .card img {
        width: 100%;
    }
    
    .card h3, p {
        padding: 0px 10px;
    }
    
.bio-text {
        font-size: 12px;
    }
